<div class="container-fluid pt-4 px-4">
  <div class="row g-4">
    <h6>Lend multiple items</h6>
    <label for=""><h7>3.Upload CSV</h7></label>
    <div class="col-xl-6">

      <span class="label">Uploadfile</span>

      <input type="file" />
    </div>
    <div class="col-xl-12">
      <div class="col-xl-6">
        <a
          class="btn btn-default"
          href="/products/upload-mass-product/step-2"
        >Back</a>
        <a class="btn btn-default" href="">Success</a>

      </div>
    </div>

  </div>
</div>