
       <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <form action="/account" method="post">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="/home" class="">
                                <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>
                            </a>
                            <h3>Sign Up</h3>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingText" name="username" placeholder="jhondoe">
                            <label for="floatingText">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingInput" name="password" placeholder="name@example.com">
                            <label for="floatingInput">Password</label>
                               <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
                            <label for="floatingInput">email</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingPassword" name="images" placeholder="link image">
                            <label for="floatingPassword">images</label>
                        </div>
                          <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingPassword" name="name" placeholder="name">
                            <label for="floatingPassword">name</label>
                        </div>
                          <div class="form-floating mb-4">
                            <input type="age" class="form-control" id="floatingPassword" name="age" placeholder="age">
                            <label for="floatingPassword">age</label>
                        </div>
                          <div class="form-floating mb-4">
                            <input type="text" class="form-control" id="floatingPassword" name="address" placeholder="address">
                            <label for="floatingPassword">address</label>
                        </div>
                           <div class="form-floating mb-4" style="display: none;" >
                            <input type="text"  value="staff" class="form-control" id="floatingPassword" name="role" placeholder="role">
                            <label for="floatingPassword">role</label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign Up</button>
                        <p class="text-center mb-0">Already have an Account? <a href="/login">Sign In</a></p>
                    </div>
                </div>
                </form>
            </div>
        </div>
</form>