<div class="col-sm-12 col-xl-12">

  <a href="/products/createProduct" class="btn btn-danger mt-3">Export</a>

  <form action="">
    <div class="input-group p-5">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-3">
            <input type="text" class="form-control mt-3" />
          </div>
          <div class="col-xl-3">

            <select
              name=""
              id="input"
              class="form-control mt-3"
              required="required"
            >
              <option value=""></option>
            </select>
          </div>
          <div class="col-xl-3">
            <input type="date" class="form-control mt-3" />
          </div>
          <div class="col-xl-3">

            <select
              name=""
              id="input"
              class="form-control mt-3"
              required="required"
            >
              <option value=""></option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-3">
            <select
              name=""
              id="input"
              class="form-control mt-3"
              required="required"
            >
              <option value=""></option>
            </select>
          </div>
          <div class="col-xl-3">
            <select
              name=""
              id="input"
              class="form-control mt-3"
              required="required"
            >
              <option value=""></option>
            </select>
          </div>
          <div class="col-xl-3">
            <select
              name=""
              id="input"
              class="form-control mt-3"
              required="required"
            >
              <option value=""></option>
            </select>
          </div>
          <div class="col-xl-3">
            <input type="date" class="form-control mt-3" />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">Recent Salse</h6>
      <h6> All Orders : 3333</h6>

    </div>
    <div class="table-responsive">
      <table
        class="table text-start align-middle table-bordered table-hover mb-0"
      >
        <thead>
          <tr class="text-dark">
            <th scope="col">OrdersId</th>
            <th scope="col">Create At</th>
            <th scope="col">Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Owner</th>
            <th scope="col">Lendde</th>
            <th scope="col">Quanlity</th>
            <th scope="col">Loan Duration</th>
            <th scope="col">Total Cost</th>
            <th scope="col">Promo Code</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="form-check-input" type="checkbox" /></td>
            <td class="w-25"><img
                src="https://img.nhandan.com.vn/Files/Images/2020/07/26/nhat_cay-1595747664059.jpg"
                alt=""
                style="width: 10%;"
              /></td>
            <td>01 Jan 2045</td>
            <td>INV-0123</td>
            <td>Jhon Doe</td>
            <td>$123</td>
            <td>Paid</td>
            <td><a
                class="btn btn-sm btn-primary"
                href="/products/editProduct"
              >Edit</a></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>