<div class="wrapper bg-white">
  <div class="h2 text-center">Creativity</div>
  <div class="h4 text-muted text-center pt-2">Enter your login details</div>
  <form class="pt-3">
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input type="text" placeholder="Username or Email Address" class="" />
      </div>
    </div>
    <div class="form-group py-1 pb-2">
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>
        <input type="password" placeholder="Enter your Password" class="" />
        <button class="btn bg-white text-muted">
          <span class="far fa-eye-slash"></span>
        </button>
      </div>
    </div>
    <div class="form-group py-1 pb-2">
      <div class="input-field">
        <span class="fas fa-lock p-2"></span>
        <input type="password" placeholder="Enter your Password" class="" />
        <button class="btn bg-white text-muted">
          <span class="far fa-eye-slash"></span>
        </button>
      </div>
    </div>
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input type="text" placeholder="Name" class="" />
      </div>
    </div>
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input type="text" placeholder="Age" class="" />
      </div>
    </div>
    <div class="form-group py-2">
      <div class="input-field">
        <span class="far fa-user p-2"></span>
        <input type="text" placeholder="Address" class="" />
      </div>
    </div>
    <button class="btn btn-block text-center my-3">Sign Up</button>
    <div class="text-center pt-3 text-muted">Do you already have an account?
      <a href="/login">Sign in</a></div>
  </form>
</div>